@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --header-height: 3rem;

  /* ===== COLORS ===== */
  --background-color: #dfdfdf;
  --primary-color: #3456FF;
  --button-color: #6b84ff;
  --overlay-color: #070928;
  --secondary-color: #F8F8FA;
  --text-color: #041F1E;
  --text-button-color: #ffffff;

  /* ===== FONT ===== */
  --body-font: "poppins", sans-serif;

  /* ===== FONT SIZE ===== */
  --big-font-size: 3.5rem;
  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /* ===== FONT WEIGHT ===== */
  --font-small: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 800;

  /* ===== MARGINS ===== */
  --m-0: 0rem;
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;

  /* ===== PADDINGS ===== */
  --p-0: 0rem;
  --p-0-25: 0.25rem;
  --p-0-5: 0.5rem;
  --p-0-75: 0.75rem;
  --p-1: 1rem;
  --p-1-5: 1.5rem;
  --p-2: 2rem;
  --p-2-5: 2.5rem;
  --p-3: 3rem;

  /* ===== INDEX ===== */
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* ===== DARK MODE ===== */
body.dark-theme{
  --background-color: #17181f;
  --primary-color: #cb69c1;
  --secondary-color: #6c72cb;
  --button-color: #cb69c1;
  --second-alternate-color: #eeedf0;
  --text-color: #ffffff;
  --text-button-color: black;
}

/* ===== BASE ===== */
*, ::before, ::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-weight: var(--font-bold);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  line-height: 1.6;
}
h1,h2,h3,h4,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--text-color);
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/* ===== REUSABLE CLASS CSS ===== */
.section{
  padding: 3rem 0 2rem 0;
}
.section__tittle{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--text-color);
  margin-top: var(--m-1-5);
  text-align: center;
}
/*.section__tittle::after{
  position: absolute;
  content:'';
  width: 32px;
  height: .18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--primary-color);
}*/
.section__subtittle{
  display: block;
  font-size: var(--small-font-size);
  font-weight: 400;
  margin-bottom: var(--m-3);
}
.section-tittle,
.section__subtittle{
  text-align: center;
}
.button{
  display: inline-block;
  margin-top: var(--m-2);
  font-size: var(--normal-font-size);
  color: var(--text-button-color);
  padding: .7rem 1rem;
  border-radius: .4rem;
  background-color: var(--button-color);
}
.button:hover{
opacity: .85;
}


/* ===== LAYOUT ===== */
.container{
  max-width: 768px;
  margin-left: var(--m-1-5);
  margin-right: var(--m-1-5);
}
.grid{
  display: grid;
  gap: 1.5rem;
}
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--secondary-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}


/* ===== NAV BAR ===== */
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-medium);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--m-3);
}
.change-theme{
  cursor: pointer;
  font-size: 1.3rem;
}
.nav__link{
  position: relative;
  color: var(--text-color);
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: .18rem;
  left: 0;
  top: 1.5rem;
  background-color: red;
}
.nav__logo{
  color: red;
  padding: 1rem 1rem;
}
.nav__toggle{
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}


/* ===== SHOW MENU ===== */
.show{
  right: 0;
}


/* ===== HOME SECTION LAYOUT ===== */
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__information{
  align-items: center;
}
.home__present{
  font-size: var(--h3-font-size)
}
.home__tittle{
  font-size: var(--big-font-size);
  margin-bottom: var(--m-1);
}
.home__tittle-color{
  color: var(--primary-color);
}
.home__skill{
  font-size: var(--h3-font-size);
}
.home__social {
 display: flex;
 flex-direction: column;
}
.home__social-icon {
  width: max-content;
  height: max-content;
  margin-bottom: var(--m-2);
  font-size: 1.5rem;
  cursor: pointer;
  color: red;
}
.home__social-icon:hover{
  color: var(--button-color);
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}


/* ===== ABOUT SECTION LAYOUT ===== */
.about__img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}
.about__description{
  text-align: center;
  margin-bottom: var(--mb-2)
}
.about__info{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
}
.about__info-tittle{
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
}
.about__info-name{
  font-size: var(--small-font-size);
  font-weight: 400;
}
.about__info-tittle,
.about__info-name{
  display: block;
  text-align: center;
}
.about__button{
  display: flex;
  justify-content: center;
}


/* ===== SKILLS SECTION LAYOUT ===== */
.skills__container{
  row-gap: 0;
}
.skills__header{
  display: flex;
  align-items: center;
  margin-bottom: var(--m-0-5);
  cursor: pointer;
}
.skills__icon, .skills__arrow{
  font-size: 1.75rem;
  color: var(--button-color);
}
.skills__icon{
  margin-right: var(--m-1);
}
.skills__tittle{
  font-size: var(--h4-font-size);
}
.skills__subtittle{
  font-size: var(--normal-font-size);
  font-weight: 400;
}
.skills__arrow{
  margin-left: auto;
  transition: .4s;
}
.skills__list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}
.skills__tittles{
  display: flex;
  justify-content: space-between;
}
.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-small);
}
.skills__bar, .skills__percentage{
  height: 5px;
  border-radius: .25rem;
}
.skills__bar{
  background-color: lightskyblue;
}
.skills__percentage{
  display: block;
  background-color: var(--button-color);
}
.skills__sql{
 width: 95%;
}
.skills__odi{
  width: 90%;
}
.skills__tws{
  width: 80%;
}
.skills__denodo{
  width: 90%;
}
.skills_html{
  width: 95%;
}
.skills__css{
  width: 95%;
}
.skills__js{
  width: 50%;
}
.skills_vsc{
  width: 100%;
}
.skills__androidstudio{
  width: 35%;
}
.skills__autocad{
  width: 45%;
}
.skills_pt{
  width: 100%;
}
.skills__en{
  width: 75%;
}
.skills__fr{
  width: 10%;
}
.skills__es{
  width: 20%;
}
.skills__close .skills__list{
  height: 0;
  overflow: hidden;
}
.skills__open .skills__list{
  height: max-content;
  margin-bottom: var(--m-2-5);
}
.skills__open .skills__arrow{
  transform: rotate(-180deg);
}


/* ===== QUALIFICATION SECTION LAYOUT ===== */
.qualification__tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.qualification__button{
  font-size: 1.1rem;
  font-weight: var(--font-medium);
  cursor: pointer;
}
.qualification__button:hover{
  color: var(--button-color);
}
.qualification__icon{
  font-size: 1rem;
  margin-right: var(--m-0-25);
}
.qualification__data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.2rem;
}
.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}
.qualification__subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  font-weight: var(--font-small);
  margin-bottom: var(--mb-1);
}
.qualification__calendar{
  font-size: var(--small-font-size);
  color: var(--text-color);
  font-weight: 400;
}
.qualification__rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--button-color);
  border-radius: 50%;
}
.qualification__line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--button-color);
  transform: translate(6px, -7px);
}
.qualification [data-content]{
  display: none;
}
.qualification__active[data-content]{
  display: block;
}
.qualification__button.qualification__active{
  color: var(--button-color);
}


/* ===== PORTFOLIO SCETION ===== */
.portfolio__container{
  overflow: initial;
}
.portfolio__content{
  padding: 0 1.5rem;
}
.portfolio__img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}
.portfolio__tittle{
  font-size: var(--normal-font-size);
  margin-bottom: var(--m-0-25);
}
.portfolio__description{
  margin-bottom: var(--m-0-75);
  font-weight: 400;
  font-size: var(--small-font-size);
}
.swiper-horizontal > .swiper-pagination-bullets{
  bottom: -1.6rem;
}
.swiper-pagination-bullet-active{
  background-color: var(--button-color);
}
.swiper-pagination-bullet{
  outline: none;
}


/* ===== MEDIA QUERIES ===== */
@media screen and (min-width: 768px){
  body{
    margin: var(--header-height) 0 0 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-tittle{
    margin-bottom: var(--mb-3);
  }
  .home__social {
    display: flex;
    flex-direction: row;
   }
}